body {
    background-color: #161616;
}


div.socials {
    display: block;
    float: left;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #242424;
  color: black;
}

.topnav a.active {
  background-color: #352235;
  color: white;
}

div.container {
    margin: auto;
    width: 60%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #141314;
    color: wheat;
  }

div.footer-container {
    position: fixed;
    bottom: 0;
    display: table-row;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    left: 43%;
  }